.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  flex-wrap: wrap;
}
.timer > * {
  border: 1px solid var(--background);
  padding: 1rem;
  text-align: center;
  min-width: 5rem;
  border-radius: 1rem;
  transition: all 1s ease-in-out;
  cursor: pointer;
  box-shadow: var(--backgroundBoxShadow);
}
.timerContainer {
  padding: 1rem;
  
}
.timer > *:hover {
  background-color: var(--background);
  color: var(--secondary);
}
.timerContainer p{
    font-size: 1.5rem;
}
.registerBtn{

  width: 100%;
  border: none !important;
  box-shadow: none !important;

}
.registerBtn:hover{
  color:var(--background);
}
.timer span{
  color:var(--PrimaryDark);
}

